.movie-card-top-section {
  display: flex;
}

.movie-card-poster {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 30%;
  justify-content: flex-end;
}

.movie-card-info {
  display: flex;
  width: 65%;
  margin-left: 10px;
}

.trailer-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2%;
}

iframe {
    width: 560px;
    height: 315px;
}

.back-img {
  margin-left: 5%;
  border: none;
  background-color: rgb(206, 248, 248);
  width: 100px;
  position: fixed;
  bottom: 5%;
  right: 10%;
}

.back-img:hover {
  cursor: pointer;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.sub-detail {
  font-size: 13px;
}

h2 {
  font-size: 10vh;
  justify-content: center;
  margin-left: 0 !important;
}

.genre {
  display: flex;
  gap: 5px;  
  font-size: 13px;
}

.summary {
  margin-top: 10px;
  font-size: 20px;
}

.error,
.loading {
  position: fixed;
  top: 50%;
  left: 40%;
  font-size: 40px;
}