.title {
  margin: 20px;
}

.title:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  height: 20%;
  background-color: #249f9c;
}

img {
  width: 65%;
}

.body {
  background-color: rgb(206, 248, 248);
}