.movie-info {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.sub-detail {
  font-size: 13px;
}

h2 {
  font-size: 10vh;
  justify-content: center;
  margin-left: 0 !important;
}

.genre {
  display: flex;
  gap: 5px;  
  font-size: 13px;

}

.summary {
  margin-top: 10px;
  font-size: 20px;
}

